/* productStyles.css */
.products {
    text-align: center;
    padding: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product-item {
    width: calc(30% - 30px);
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.1em;
    color: #e91e63;
}

button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c2185b;
}
